CREATE DATABASE [STROKE]
GO
USE [STROKE]
GO
/****** Object:  Table [dbo].[BENHAN]    Script Date: 6/6/2023 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHAN](
	[MABA] [int] IDENTITY(1,1) NOT NULL,
	[MABN] [char](10) NOT NULL,
	[NGAYKHAM] [date] NOT NULL,
	[GENDER] [varchar](8) NOT NULL,
	[AGE] [int] NOT NULL,
	[HYPERTENSION] [varchar](6) NOT NULL,
	[HEART_DISEASE] [varchar](6) NOT NULL,
	[EVER_MARRIED] [varchar](5) NOT NULL,
	[WORK_TYPE] [varchar](30) NOT NULL,
	[RESIDENCE_TYPE] [varchar](6) NOT NULL,
	[AVG_GLUCOSE_LEVEL] [float] NOT NULL,
	[BMI] [float] NOT NULL,
	[SMOKING_STATUS] [varchar](20) NOT NULL,
	[STROKE] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 6/6/2023 5:41:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[DCHI] [nvarchar](50) NULL,
	[DTHOAI] [char](13) NULL,
	[BHYT] [char](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BENHAN] ON 

INSERT [dbo].[BENHAN] ([MABA], [MABN], [NGAYKHAM], [GENDER], [AGE], [HYPERTENSION], [HEART_DISEASE], [EVER_MARRIED], [WORK_TYPE], [RESIDENCE_TYPE], [AVG_GLUCOSE_LEVEL], [BMI], [SMOKING_STATUS], [STROKE]) VALUES (1, N'10548     ', CAST(N'2023-06-06' AS Date), N'Male', 66, N'No', N'No', N'Yes', N'Private', N'Rural', 76.46, 21.2, N'formerly smoked', N'None')
INSERT [dbo].[BENHAN] ([MABA], [MABN], [NGAYKHAM], [GENDER], [AGE], [HYPERTENSION], [HEART_DISEASE], [EVER_MARRIED], [WORK_TYPE], [RESIDENCE_TYPE], [AVG_GLUCOSE_LEVEL], [BMI], [SMOKING_STATUS], [STROKE]) VALUES (2, N'12109     ', CAST(N'2023-06-06' AS Date), N'Female', 81, N'Yes', N'No', N'Yes', N'Private', N'Rural', 80.43, 29.7, N'never smoked', N'None')
INSERT [dbo].[BENHAN] ([MABA], [MABN], [NGAYKHAM], [GENDER], [AGE], [HYPERTENSION], [HEART_DISEASE], [EVER_MARRIED], [WORK_TYPE], [RESIDENCE_TYPE], [AVG_GLUCOSE_LEVEL], [BMI], [SMOKING_STATUS], [STROKE]) VALUES (3, N'15517     ', CAST(N'2023-06-06' AS Date), N'Female', 35, N'No', N'No', N'Yes', N'Private', N'Urban', 81.9, 24.5, N'never smoked', N'None')
SET IDENTITY_INSERT [dbo].[BENHAN] OFF
GO
INSERT [dbo].[BENHNHAN] ([MABN], [HOTEN], [DCHI], [DTHOAI], [BHYT]) VALUES (N'10548     ', N'lLYLnSxkxmfkazxgYQDs', N'nkdWkCFLKKzqDWrqqCum', N'2047880011698', N'547878874528837172831762672748')
INSERT [dbo].[BENHNHAN] ([MABN], [HOTEN], [DCHI], [DTHOAI], [BHYT]) VALUES (N'12109     ', N'oSfCLkyLjSRSEkYucDaS', N'CaRGoCaOghtPoaeTfrCM', N'6960066280944', N'863981903781543891382748811726')
INSERT [dbo].[BENHNHAN] ([MABN], [HOTEN], [DCHI], [DTHOAI], [BHYT]) VALUES (N'15517     ', N'CTmOThdtKTPwBMskaGAM', N'OLhJJDzELuAGstqXlijv', N'4277237475299', N'133806005342496957286563598252')
GO
ALTER TABLE [dbo].[BENHAN] ADD  DEFAULT (getdate()) FOR [NGAYKHAM]
GO
ALTER TABLE [dbo].[BENHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHAN_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[BENHAN] CHECK CONSTRAINT [FK_BENHAN_BENHNHAN]
GO
